*.class
	
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DIT950/lab1/dictionary.nb/target/
/DIT950/dictionary.nb/target/
/DIT950/lab1/trie.nb/target/
/DIT950/trie.nb/target/
/DIT950/lab1/translator.nb/target/
/DIT950/lab2/client_skel.nb/target/
/DIT950/lab2/server_skel.nb/target/
*.zip


*.beam