*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lab1/dictionary.nb/target/
/lab1/trie.nb/target/
/lab1/translator.nb/target/
/lab2/client_skel.nb/target/
/lab2/server_skel.nb/target/
lab2/client_skel.nb/nbactions.xml
lab2/server_skel.nb/nbactions.xml
